# Dependencies
node_modules/
.venv/
venv/
__pycache__/
*.pyc

# Build outputs
dist/
build/
out/
bin/
*.exe
*.dll

# IDEs
.vscode/
.idea/
*.swp

# OS
.DS_Store
Thumbs.db

# Project specific
*.dem
logs/
.env

# Large Files & Parsers Dependencies
parsers/jdk17/
parsers/gradle-8.5/
*.zip
.gradle/
